<ul>
  <li>
    <a [routerLink]="['/calculator']" routerLinkActive="active">
      Calculator
    </a>
  </li>
  <li>
    <a [routerLink]="['./object-list']" routerLinkActive="active">
      Object list
    </a>
  </li>
  <li>
    <a [routerLink]="['./directives']" routerLinkActive="active">
      Directives
    </a>
  </li>
  <li>
    <a [routerLink]="['./new-directives']">
      New Directives
    </a>
  </li>
  <li>
    <a [routerLink]="['./life-cycle']">
      Lyfecycle
    </a>
  </li>
  <li>
    <a [routerLink]="['./requests']">
      Request & Services
    </a>
  </li>
  <li>
    <a [routerLink]="['./pipes']">
      Pipes
    </a>
  </li>
</ul>
